.Post-1
{
color:none;
}

body
{
  background-color:red;
  list-style-type:none;
  margin-top:20px;
  padding-top:5px; 
  border:2px solid;
  text-align:center;
  font-family:Times New Roman;
  background-color:beige;
  float:left;
  cursor:auto;
}
